#control-panel-container
{
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
	background-color: #1B1F22;
}

.control-panel-button
{
	border: 3px solid #9B9E9D;
	border-radius: 8px;
	color: #9B9E9D;
	cursor: pointer;
	display: flex;
	justify-content:center;
	align-items:center;
	background-color: #1B1F22;
	margin: 5px;
	transition: all 0.2s;
}

.control-panel-button:hover
{
	border: 3px solid #6B6E6D;
	color: #6B6E6D;
}

.control-panel-button:active
{
	background-color: #474A4C;
}

.control-panel-button.on
{
	background-color: #ABABAB;
}

.control-panel-button-icon
{
	width: 24px;
	height: 24px;
}

.disabled
{
	pointer-events: none;
	border-color: #343434;
	color: #343434;
}

.control-widget
{
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 1s;
	margin: 0px 10px;
}

.control-widget-right
{
	flex: 1;
	justify-content: flex-end;
}

.horizontal
{
	display: flex;
	flex-direction: row;
}

.vertical
{
	display: flex;
	flex-direction: column;
}


