/* SemanticUI overrides */

.modal > *
{
	background-color: #F6F6F6 !important;
	color: var(--dark-text-theme-color) !important;
	border: none !important;
}

.modal .header
{
	background-color: white !important;
	border-bottom: 1px solid var(--light-text-theme-color) !important;
}

.modal .actions > .ui.inverted.basic.button
{
	box-shadow: 0 0 0 2px var(--light-theme-color) inset !important;
	color: var(--light-theme-color) !important;
}